<html>
  <head>
    <title>Help</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="../js/general.js"></script>
    <script src="../js/elements.js"></script>
    <script src="../js/templating.js"></script>
    <script src="../js/guts.js"></script>
    <link rel="stylesheet" href="../css/css.css" type="text/css" />
  </head>
  <body>
    <template id="preamble"><div class="preamble"><b></b></div></template>
    <template id="section"><div class="section"><h2></h2><i></i><dl></dl></div></template>
    <template id="command"><div class="command"><dt class="commandName"></dt><dd class="commandDesc"></dd></div></template>
    <script>
      helpPage("../".repeat(2) + "<PATH_HELP>")
    </script>
  </body>
</html>
