<html>
  <head>
    <title>Roster</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="../../../js/general.js"></script>
    <script src="../../../js/elements.js"></script>
    <script src="../../../js/templating.js"></script>
    <script src="../../../js/guts.js"></script>
    <link rel="stylesheet" href="../../../css/css.css" type="text/css" />
  </head>
  <body>
    <template id="title"><div class="title"><h1></h1></div></template>
    <template id="section"><div class="section"><h2></h2><ul class="memberlist"></ul></div></template>
    <template id="member"><li class="member"></li></template>
    <script>
      rosterPage("../".repeat(<REPEAT_ROSTER>) + "rosters/<PATH_ROSTER>")
    </script>
  </body>
</html>
